config BASE_ARM64
	def_bool y
	select ARCH_HAS_FAST_MULTIPLIER
	select ARCH_SUPPORTS_INT128 if GCC_VERSION >= 50000 || CC_IS_CLANG
	select CRC32
	select HAVE_ARCH_BITREVERSE
	select HAVE_EFFICIENT_UNALIGNED_ACCESS

config ARCH_PHYS_ADDR_T_64BIT
	def_bool y

config ARCH_DMA_ADDR_T_64BIT
	def_bool y

config GENERIC_HWEIGHT
	def_bool y

config ILLEGAL_POINTER_VALUE
	hex
	default 0xdead000000000000
