CONFIG_BUILD_VERSION_AUTO=y
CONFIG_ARCH_ORIGIN=y
CONFIG_ARM64_VA_BITS_48=y
CONFIG_NR_CPUS=8
CONFIG_OF_FLATTREE=y
CONFIG_SERIAL_AMBA_PL01X=y
CONFIG_FDT=y
CONFIG_QEMU_VIRT=y
CONFIG_QEMU_APPEND="console=ttyAMA0 rodata=nofull"
